		<div class="col col-sm-6 col-notes">
			<button type="button" class="btn btn-large btn-create-note">Create a Note</button>

		{{#each notes}}
		<div class="single-note">
			<h3>At {{created}}</h3>
			<p class="question"><span class="username">{{username}}</span> comment:</p>
			<p class="answer">{{a3}}</p>
		</div>
		{{/each}}

		</div>