<div class="col col-sm-6 col-questions">
	<h3>What do you think?</h3>

	<label for="username" class="input-label">Your Name<br /><input class="form-control" id="username" /></label><br />
	<label for="examples" id="q3" class="input-label">Give your comment below.<br />
		<textarea class="form-control" id="examples"></textarea></label><br />
	<button type="button" class="btn btn-large btn-show-notes">View Saved comments</button>
	<button type="button" class="btn btn-large btn-save-note">Save comment</button>

</div>